[submodule "JUCE"]
	path = ThirdParty/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "RTNeural"]
	path = ThirdParty/RTNeural
	url = https://github.com/jatinchowdhury18/RTNeural.git
