*.user

SDKs

build*

cmake-*
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CMakeScripts

.idea

IDEWorkspaceChecks.plist
UserInterfaceState.xcuserstate
xcschememanagement.plist
*.xcscheme
.vscode
*.xcworkspace
*.DS_Store
*.entitlements
*.cpb
Makefile
*.ort
onnxruntime*.tar.gz
ThirdParty/onnxruntime
/Installers/Windows/Output/
