*.user

SDKs

build
build-ios

cmake-build-debug
cmake-build-release
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CMakeScripts

.idea

IDEWorkspaceChecks.plist
UserInterfaceState.xcuserstate
xcschememanagement.plist
*.xcscheme
.vscode
*.xcworkspace
*.DS_Store
*.entitlements
*.cpb
Makefile

workspace.xml
xcuserdata
/Apps/SerumStandAlone/Builds/MacOSX/RecentFilesMenuTemplate.nib
